<!DOCTYPE html>
<html lang="zh-ch">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="description" content="317护是由中国护理管理杂志社在线教育部推出的在线护理宣教产品，满足护士在线护理宣教、患者在线学习专业的护理知识、医院课程内容分享及护士宣教管理。"/>
    <meta name="keywords"
          content="护理,护理管理,护理论坛,学术交流,护理质量,健康常识,护理教学,护理宣教,疾病宣教,护士学习,数据库,文献,疾病,社区,健康助手,护理管理杂志社,在线教育,317护"/>

    <title>LES</title>
    <script src="./javascripts/jquery.min.js"></script>
    <script src="./javascripts/ie-emulation-modes-warning.js"></script>
    <link rel="stylesheet" href="./stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/ie10-viewport-bug-workaround.css">
    <link rel="stylesheet" href="./stylesheets/carousel.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="http://v3.bootcss.com/examples/carousel/#">SUNNY 英语</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="http://v3.bootcss.com/examples/carousel/#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="http://v3.bootcss.com/examples/carousel/#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="http://v3.bootcss.com/examples/carousel/#">Action</a></li>
                    <li><a href="http://v3.bootcss.com/examples/carousel/#">Another action</a></li>
                    <li><a href="http://v3.bootcss.com/examples/carousel/#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="http://v3.bootcss.com/examples/carousel/#">Separated link</a></li>
                    <li><a href="http://v3.bootcss.com/examples/carousel/#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

    {{!--index body--}}
    {{{body}}}

    <!-- side fix -->
    <div>
      <
    </div>

    <!-- FOOTER -->
    <div class="container">
      <footer>
        <p class="pull-right"><a href="/#">Back to top</a></p>
        <p>© Copyright 2017 by <a href="https://johnsenzhou.github.io">Johnsen</a></p>

      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="./javascripts/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="./javascripts/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./javascripts/ie10-viewport-bug-workaround.js"></script>

    {{!--<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;">
      <defs>
          <style type="text/css"></style>
      </defs>
      <text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">500x500</text>
    </svg>--}}
  
</html>
