.my-carousel {
  left: 11%;
  bottom: 100px;
  text-align: left;
}
.my-carousel-2 {
  left: 11%;
  bottom: 200px;
  text-align: left;
}
.my-carousel p {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}
.my-carousel-2 p {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}
.my-btn {
  padding: 8px 14px;
  font-size: 14px;
}